h1{
 text-align: center;
 color: rgb(81, 98, 193);
 font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: rgb(103, 161, 142);
    font-family: 'Courier New', Courier, monospace
   }
   
body{
      background-color: rgb(144, 119, 201);
   }